.content-detail-information {
    /* border: 1px black solid; */
    /* padding-top: 23px;
    padding-bottom: 21px; */
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.selected {
    background-color: rgba(255, 149, 0, 0.2);
    margin: 0 10px 0 10px;
    border-radius: 6px;
    color: black;
}

.content-title {
    margin: 23px 0 21px 24px;
    width: 60%;
}

.counter-content {
    display: flex;
    align-items: flex-end;
}

.loading {
    height: 62px;
}