.pill {
    background: #ECECEC;
    border: 1px solid #DCDCDF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 99px;
    padding: 8px 18px;
    max-width: 250px;
    display: inline-block;
}