.modal-content {
    margin: 10px;
}

.header-modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-section .modal-main {
    top: 20%;
    height: 100%;
    width: 100%;
}

.modal-content-main {
    height: 100%;
}

.link-show-example {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}