hr {
    color: rgba(0, 0, 0, 0.1)
}

.section-content-actions {
    display: flex;
    display: -webkit-box;
    margin: 5px;
}

.section-content-actions>div {
    margin: 5px;
}

.content-add {
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
}

.content-add>button {
    /* float: right; */
    /* margin: 15px 16px 15px 0; */
}

.section-content {
    height: 725px;
}

.content-information {
    height: 90%;
    /* display: flex;
    align-items: center */
}

.content-detail>.no-counters {
    /* margin: 0 auto; */
}

.btn-close-modal {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 3px 6px 3px 6px;
    border: none;
    margin: 10px;
    cursor: pointer;
}