:root {
    --primary: #FF9500;
    --danger: #FF3B30;
    --white: #ffffff;
    --gray: #C4C4C4;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:focus {
    outline: none;
}


/* Button colors and styles */

.btn--primary {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--secondary {
    background-color: white;
    color: var(--primary);
    border: none;
}

.btn--gray {
    background-color: var(--gray);
    color: white;
    border: none;
}

.btn-disabled {
    color: #DCDCDF;
}


/* Button sizes */

.btn--small {
    padding: 5px 20px 5px 20px;
    font-size: 20px;
}

.btn--medium {
    padding: 8px 24px 8px 24px;
    font-size: 17px;
}

.btn--circle {
    border-radius: 20px;
    padding: 4px;
}