.modal-confirm-delete {
    margin: 27px;
    text-align: center;
}

.modal-delete .modal-main {
    top: 20%;
    left: 10%;
    background: #FAFAFA;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    width: 309px;
    height: 189px;
}

.delete-actions {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.delete-actions>button {
    margin: 5px;
}